.map#yandexmap
    a(name="about")
    .map-contacts.map-contacts__pos
        .map-contacts__title Contact
        .map-contacts__text
            p Phone:
            p 0 800 123 45 67
        .map-contacts__text
            p Hours available:
            p 11AM — 8PM
        .map-contacts__text
            p Email:
            p support@yoursite.com