.slicker
    .slicker__item
        p.slicker__text Fusce faucibus euismod nisl non fringilla. Integer semper dui justo, quis cursus mi tempus in. Sed pretium diam ex, non convallis magna pretium vel. Maecenas semper augue vel
        span.slicker__name Sahara Reeves
        span.slicker__comma &#44;&#44;
    .slicker__item
        p.slicker__text Etiam hendrerit malesuada vestibulum. Nunc sed tortor enim. Suspendisse ultrices elit ut elit scelerisque, sit amet pharetra felis viverra. Morbi ultricies orci augue.
        span.slicker__name Samirah Mckeown
        span.slicker__comma &#44;&#44;
    .slicker__item
        p.slicker__text Sed sed posuere urna, et dignissim ex. Mauris sit amet ultrices orci, ut fermentum dui. Nulla ut efficitur leo, at efficitur magna. Vestibulum ante ipsum primis
        span.slicker__name Sahara Mckeown
        span.slicker__comma &#44;&#44;
    .slicker__item
        p.slicker__text Fusce volutpat ex ac magna aliquet porta. Donec fermentum pretium tellus, et consequat leo blandit eu. Mauris varius felis massa, bibendum egestas risus vehicula et.
        span.slicker__name Samirah Reeves
        span.slicker__comma &#44;&#44;