$minwidth: 320px;
$fontfamily: Roboto;

@mixin Material-icons-style {
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: "liga";
  }
@mixin Roboto($fs, $fw: 400) {
    font-family: Roboto;
    font-style: normal;
font-weight: $fw;
font-size: $fs;
}

@mixin Playfair($fs, $fw: 400) {
    font-family: "PlayfairDisplay";
    font-style: normal;
font-weight: $fw;
font-size: $fs;
}

@mixin buttons($width,$bc,$height: 50px,$br: 25px) {
    width: $width;
    height: $height;
    background-color: $bc;
    border-radius: $br;
    }

$grey2: #ededed;
$white: #ffffff;
$grey7: #333333;
$yellow: #ffff00;
$grey5: #666666;
$grey3: #999999;
$darkblue: #112d4e;
$grey4: #808080;
$lightblue: #dbe2ef;
$darkgrey: #1a1a1a;
$grey6: #4d4d4d;
$blue: #3f72af;
$grey1: #f9f7f7;

